<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.igguerra.flutter_scanner_plugin">
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />
    <application>
        <activity
            android:name=".ScannerActivity"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>
</manifest>